{% extends "base.html" %}
 
{% block content %}
    <h1>Добавление треда</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.topic.label }}<br>
            {{ form.topic }}<br>
            {% for error in form.topic.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}